@model LoadedAppViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        <thead>
        <tr>
            <td>Номер</td>
            <td>Название</td>
            <td>Время</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var i in Model.LoadedApps)
                {
                    <tr>
                        <td>@i.Id</td>
                        <td>@i.Name запущено</td>
                        <td>@i.DateTime.ToString("f")</td>
                    </tr>
                }
        </tbody>
    </table>
</div>